[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
openai = "*"
pillow = "*"
replicate = "*"
streamlit-extras = "*"
opencv-python-headless = "*"
streamlit-image-coordinates = "*"
scikit-learn = "*"
streamlit-chat = "*"
streamlit_option_menu = "*"
langchain = "*"
stability-sdk = "*"
st_click_detector = "*"

[dev-packages]

[requires]
python_version = "3.09"
